@charset "UTF-8";
/*flexboxをする際に使う定番*/
*,
*:before,
*:after {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  float: none;
  position: static;
  list-style: none;
  text-decoration: none;
}

html {
  line-height: 1.6;
  height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  color: #333333;
  font-size: 1.6rem;
  max-width: auto;
  overflow-x: hidden;
}

img,
video,
object {
  width: 100%;
  max-width: 100%;
  height: auto;
  border: none;
}

a {
  transition: 0.4s;
  color: rgb(112, 112, 112);
}
ahover {
  text-decoration: none;
}

a:hover img {
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.3s;
}

#l-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  /* ボックスの高さと同一 */
  color: #707070;
  background-color: rgb(255, 247, 239);
  width: 375px;
  height: 215px;
}
@media screen and (min-width: 376px) {
  #l-header {
    /* background-color: darkgoldenrod;*/
    font-size: 22px;
    font-size: 1.375rem;
    width: 100%;
  }
}
@media screen and (min-width: 835px) {
  #l-header {
    /*background-color: cadetblue;*/
    font-size: 22px;
    font-size: 1.375rem;
    width: 100%;
  }
}
#l-header__menu {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  font-size: 1.25rem;
  color: #707070;
  cursor: pointer;
  text-align: right;
  margin-right: 3%;
}
@media screen and (min-width: 835px) {
  #l-header__menu {
    position: absolute;
    z-index: 9999;
    font-size: 34px;
    top: 64px;
    right: 154px;
  }
}
#l-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  font-size: 40px;
  font-size: 2.5rem;
  color: #707070;
}

.l-main {
  display: flex;
}
.l-footer {
  box-sizing: border-box;
  position: absolute;
  width: 375px;
  height: 150px;
  left: 0px;
  top: 2565px;
  background-image: url(../img/footer.png);
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 376px) {
  .l-footer {
    top: 1636px;
    width: 100%;
    height: 149px;
  }
}
@media screen and (min-width: 835px) {
  .l-footer {
    top: 2308px;
  }
}
.l-footer p {
  width: 225px;
  height: 27px;
  color: rgb(255, 255, 255);
  margin-top: 16px;
  margin-left: 76px;
  font-family: "M+ 1m";
  font-weight: 310;
}
@media screen and (min-width: 376px) {
  .l-footer p {
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }
}
small.l-footer_copyright {
  display: block;
  margin-top: 70px;
  margin-left: 109px;
  font-family: "M+ 1m";
  color: rgb(255, 255, 255);
  font-weight: 300;
}
@media screen and (min-width: 376px) {
  small.l-footer_copyright {
    margin-left: 0px;
    text-align: center;
  }
}
.l-sidebar__background {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all ease-in-out;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.502);
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
}
.l-sidebar__background.background-open {
  visibility: visible;
  opacity: 1;
}
.l-sidebar__nav {
  position: fixed;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  top: 0;
  bottom: 0;
  z-index: 999;
  width: 300px;
  background-color: rgb(242, 237, 233);
  /*動き*/
  transition: all 0.6s;
  right: -500px;
  font-size: 22px;
  font-size: 1.375rem;
}
@media screen and (min-width: 835px) {
  .l-sidebar__nav {
    /*  right:0px;
      position: absolute;*/
    width: 367px;
    height: 2843px;
  }
}
.l-sidebar__nav.active {
  right: 0;
  transition: all 0.6s;
}
.l-sidebar__top-title {
  margin-top: 214px;
}
.l-sidebar__title {
  font-family: "M+ 1m";
  color: #707070;
  font-style: bold;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 100%;
  margin: 60px 0px 40px 46px;
}
.l-sidebar__item {
  font-weight: 300;
  font-family: "M+ 1m";
  margin: 20px 102px 20px 66px;
  font-size: 20px;
  font-size: 1.25rem;
  width: 180px;
}

.l-sidebar__close {
  display: block;
  width: 4px;
  height: 4px;
  top: 19px;
  right: -267px;
  cursor: pointer;
}
@media screen and (min-width: 835px) {
  .l-sidebar__close {
    display: none;
  }
}

.l-sidebar__close::before, .l-sidebar__close::after {
  content: "";
  position: absolute;
  top: 6.59%;
  right: 15px;
  width: 4px;
  height: 30px;
  background: #707070;
}

.l-sidebar__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.l-sidebar__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.c-inner {
  margin: 0 auto;
}

.c-line {
  border: solid 1px white;
  width: 71px;
  position: absolute;
  top: 100px;
  left: 45px;
}
.c-line__label {
  border: solid 2px rgb(255, 255, 255);
  width: 33.89px;
  position: absolute;
  z-index: 100;
  top: 80px;
  left: 15.5px;
}

.c-label {
  font-family: "Roboto";
  font-style: Bold;
  font-size: 38px;
  font-size: 2.375rem;
  line-height: 48px;
  line-height: 100%;
  align-items: left;
  color: rgb(255, 255, 255);
  margin: 20px 156px 581px 15px;
  width: 200px;
  height: 48px;
}

.c-figcaption__title-1 {
  color: rgb(60, 42, 16);
  font-family: "mplus-1m-bold";
  font-weight: 700;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 24px;
  height: 24px;
  top: 16px;
  left: 16px;
}

.c-item {
  align-items: center;
}

.c-center__caption {
  position: relative;
  margin-top: 323px;
  margin-right: 20px;
  width: 100%;
}
@media screen and (min-width: 835px) {
  .c-center__caption {
    top: 307px;
  }
}

.c-search-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
i.fa-solid {
  position: absolute;
  font-size: 25px;
  font-size: 1.5625rem;
  margin: 10px 264px 10px 9px;
}
/*input {*/
#sbox1 {
  background: #FFFFFF;
  border: 1px solid #707070;
  border-radius: 10px 8px 10px 10px;
  width: 216px;
  height: 46px;
  padding-left: 40px;
}
@media screen and (min-width: 376px) {
  #sbox1 {
    width: 47.48vw;
    max-width: 396px;
  }
}
::-moz-placeholder {
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}
::placeholder {
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sbtn1 {
  background: linear-gradient(90deg, #F2EDE9 0%, #DED8D3 100%);
  border: 1px solid #707070;
  border-radius: 10px;
  width: 90px;
  height: 46px;
  margin-left: 16px;
  font-family: "mplus-1mn-bold";
  color: rgb(112, 112, 112);
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 376px) {
  #sbtn1 {
    width: 136px;
  }
}
form#form1 {
  display: flex;
  margin: 40px 0 39px 27px;
}

.c-top__caption {
  background-image: url("../img/mainvisual-sp@2x.jpg");
  background-size: cover;
  box-sizing: border-box;
  position: absolute;
  width: 375px;
  height: 285px;
  left: 0px;
}
@media screen and (min-width: 376px) {
  .c-top__caption {
    width: 100%;
    background-image: url("../img/mainvisual-pc@2x.jpg");
  }
}
@media screen and (min-width: 835px) {
  .c-top__caption {
    height: 530px;
  }
}

.c-top__title {
  font-family: "M+ 1m";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 53px;
  color: #FFFFFF;
  margin: 122px 134px 110px 25px;
}

section.figcaption-1 {
  background-image: url("../img/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.png");
  box-sizing: border-box;
  background-repeat: no-repeat;
  position: absolute;
  width: 335px;
  height: 642px;
  left: 20px;
}
@media screen and (min-width: 376px) {
  section.figcaption-1 {
    left: 40px;
  }
}
@media screen and (min-width: 835px) {
  section.figcaption-1 {
    background-image: url("../../../img/three-burgers.jpeg");
    width: 625px;
    height: 1197px;
    left: 119px;
    background-size: 100%;
  }
}
section.figcaption-2 {
  background-image: url("../img/poteto.png");
  box-sizing: border-box;
  background-repeat: no-repeat;
  position: absolute;
  width: 336px;
  height: 643px;
  left: 20px;
  top: 663px;
}
@media screen and (min-width: 376px) {
  section.figcaption-2 {
    top: 0;
    left: 418px;
  }
}
@media screen and (min-width: 835px) {
  section.figcaption-2 {
    background-image: url("../../../img/poteto-pcsize.png");
    background-size: 100%;
    width: 625px;
    height: 1197px;
    left: 816px;
  }
}

.p-solution__list {
  background-image: url("../img/screen2020-02-10 11.47.42.png");
  box-sizing: border-box;
  position: absolute;
  width: 375px;
  height: 691px;
  left: 0px;
  top: 1874px;
}
@media screen and (min-width: 376px) {
  .p-solution__list {
    top: 1221px;
    width: 100%;
    min-width: 834px;
    height: 415px;
  }
}
@media screen and (min-width: 835px) {
  .p-solution__list {
    top: 1893px;
  }
}

.p-gray__area {
  box-sizing: border-box;
  width: 375px;
  height: 415px;
  left: 0px;
  background: rgb(0, 0, 0);
  opacity: 53%;
  position: absolute;
}
@media screen and (min-width: 376px) {
  .p-gray__area {
    width: 100%;
    min-width: 834px;
    height: 415px;
  }
}
.p-gray__area__second {
  box-sizing: border-box;
  width: 375px;
  height: 276px;
  left: 0px;
  background: #000000;
  opacity: 40%;
  position: absolute;
  top: 415px;
}
@media screen and (min-width: 376px) {
  .p-gray__area__second {
    display: none;
  }
}
.p-solution__list__title {
  position: absolute;
  z-index: 100;
  width: 240px;
  height: 45px;
  left: 42px;
  top: 42px;
  font-family: "M+ 1m";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  /* ボックスの高さと同一 */
  color: #FFFFFF;
}

p.p-solution__text {
  position: absolute;
  z-index: 100;
  width: 295px;
  height: 518px;
  left: 40px;
  top: 116px;
  font-family: url("mplus-1m-medium");
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 33px;
  /* または236% */
  color: #FFFFFF;
}
@media screen and (min-width: 376px) {
  p.p-solution__text {
    width: 100%;
    height: 259px;
    text-align: center;
  }
}
.p-theme {
  position: absolute;
  margin-top: -350px;
  margin-left: 16px;
  font-family: url("mplus-1m-medium");
  background-color: rgba(255, 255, 255, 0.8);
  width: 303px;
  height: 156px;
  opacity: 1;
  padding-top: 16px;
  padding-left: 16px;
  font-family: "M+ 1m";
}
.p-theme__theme {
  position: absolute;
  margin: -180px 16px 16px 16px;
  background-color: rgba(255, 255, 255, 0.8);
  width: 303px;
  height: 156px;
  opacity: 1;
  padding-top: 16px;
  padding-left: 16px;
  font-family: "M+ 1m";
}
.p-theme__service {
  list-style: none;
  font-family: "M+ 1m";
  color: rgb(60, 42, 16);
  font-size: 16px;
  margin: 6px 16px 16px 0px;
  position: absolute;
  width: 271px;
  height: 92px;
}/*# sourceMappingURL=style.css.map */