@use "../../foundation/global" as g;

.c-inner {
	margin: 0 auto;
}

.c-line{
    border: solid 1px white;
    width: 71px;
    position: absolute;
    top: 100px;
    left: 45px;

        &__label{
            border: solid 2px rgba(255, 255, 255, 1);
            width: 33.89px;              
         
        
          }

}