
@use"../foundation/global" as g;

.l-footer{
 
 background-image: url(../img/footer.png);
 @include g.font-size(16);

 @include g.mq(md){
  
}
@include g.mq(lg){
     
    
   }

 p{
   
    color: rgba(255, 255, 255, 1);
    
    font-family: 'M+ 1m';
    font-weight: 310;

    @include g.mq(md){
      
      
   }
   @include g.mq(lg){
         
       
      }
 }

 
}

small.l-footer_copyright{
    display: block;
    font-family: 'M+ 1m';
    color: rgba(255, 255, 255, 1);
    font-weight:300;

    @include g.mq(md){
     
   }
   @include g.mq(lg){
         
       
      }
   }