@use '../foundation/global' as g;

#l-header{
   font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
   /* ボックスの高さと同一 */
    color: #707070;
    background-color: rgba(255, 247, 239, 1);
    width: 375px;
    height: 215px;
       
    @include g.mq(md){
       /* background-color: darkgoldenrod;*/
        //font-size: g.$link-font-size + 2px;
        @include g.font-size(22);
        width: 100%;
       
        
    }
    @include g.mq(lg){
          /*background-color: cadetblue;*/
          //font-size: g.$link-font-size + 8px;
          @include g.font-size(22);
          width: 100%;
         
        }
  
   
    &__menu{
    margin-right: 7%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    @include g.font-size(20);
    color: #707070;
    cursor: pointer;
    text-align: right;

    /*@include g.mq(md){
        margin-right: 4%;
        
    }
    @include g.mq(lg){
        margin-right: 4%;
         
        }*/
    }

                 
    &__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: bold;
    font-weight: 700;
    @include g.font-size(40);
    
  
/* ボックスの高さと同一 */
    color: #707070;
    }
}



.l-main{
    display: flex;

    &__content{
     height: 80%;
    }
}
